<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
  <h1>Dash Board</h1>
  <h3>user_details</h3>


  


firstname:<br>
<input type="text" name="firstname">
</br>
secondname :<br>
<input type="text" name="secondname">
</br>
email :<br>
<input type="text" name="email">
</br>
age :<br>
<input type="number" name="age">
</br>
password:<br>
<input type="password" name="password">
</br>
gender :
<input type="radio" name="gender" value="male">
Male
<input type="radio" name="gender" value="female">
Female

<br></br>
<input type="submit" value="sign up">
<!-- <input type="submit" value="edit"> -->
<a href="/Dashboard1"><button type="button" >Edit</button></a>

</form>
</div>
</body>
</html>
