<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
<br>
  <h1>Dash Board3</h1>
<form method="post" action="/update1">
  <br>
  <h3>Your Profile</h3>
  <br>
  <p1>Name: <input type="text" name="Name" value="<%- result["Name"] %>"></p1>
  <br>
  <p2>Details: <input type="text" name="Details" value="<%- result["Details"] %>"></p2>
  <br>
  <p3>email: <input type="text" name="email" value="<%- result["email"] %>"></p3>
  <br>
  <p4>Have_a_question: <input type="text" name="Have_a_question" value="<%- result["Have_a_question"] %>"></p4>
  <br>



<br></br>
<input type="submit" value="update">


</form>
</div>
</body>
</html>
