<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
  <h1>ProductApp</h1>
<form method="post" action="/signup ">
<span style="margin-left:60px">firstname</span><br>
<input type="text" name="firstname">
</br>
secondname :<br>
<input type="text" name="secondname">
</br>
email :<br>
<input type="text" name="email">
</br>
password :<br>
<input type="password" name="password">
</br>
age :<br>
<input type="number" name="age">
</br><br>

gender :
<input type="radio" name="gender" value="male">
Male
<input type="radio" name="gender" value="female">
Female

<br></br>
<input type="submit" value="sign up">
<a href="/login"><button type="button" >Login</button></a>
</form>
</div>
</body>
</html>
