<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
  <h1>Creating your post</h1>
<form method="post" action="/Status_create">
<!-- <span style="margin-left:60px">firstname</span><br> -->

<p3>email: <input type="text" name="email" value="<%- result["email"] %>"></p3>
<br></br>
write_post :<br><input type="text" name="write_post">
<br></br>

<!-- write_post :<br><input type="text" name="write_post">
</br>

<br> -->
<input type="submit" value="submit">
</form>
</div>
</body>
</html>
